.App {
  height: 1010px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 860px 430px;
  background-repeat: repeat-y;
  
}

.bop-it{
  position: absolute;
  top: 24px;
  left: 227px;
}

.twister {
  position: absolute;
  top: 31px;
  left: 522px;
}
.puller {
  position: absolute;
  top: 357px;
  left: 562px;
}
.spinner {
  position: absolute;
  top: 354px;
  left: 290px;
}
.flicker {
  position: absolute;
  top: 71px;
  left: 310px;
}
.bopper {
  position: absolute;
  height: 137px;
  top: 187px;
  left: 413px;
}

.scroll{
  position: absolute;
  top: 128px;
  left: 579px;
  z-index: 10;
  transform: rotate(-25deg);
}

.drag{
  position: absolute;
  top: 324px;
  left: 640px;
  z-index: 10;
  transform: rotate(-53deg);
}

.whatever-1{
  position: absolute;
  top: 149px;
  left: 253px;
  z-index: 10;
  transform: rotate( -63deg);
}

.whatever-2{
  position: absolute;
  top: 330px;
  left: 279px;
  z-index: 10;
  transform: rotate(54deg);
}

p {
  font-family: 'Bubblegum Sans', cursive;
  color: #FAFE44
}