.App {
  height: 510px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover
}

.bop-it{
  position: absolute;
  top: 24px;
}

.twister {
  position: absolute;
  top: 31px;
  left: 522px;
}
.puller {
  position: absolute;
  top: 357px;
  left: 562px;
}
.spinner {
  position: absolute;
  top: 354px;
  left: 290px;
}
.flicker {
  position: absolute;
  top: 71px;
  left: 310px;
}
.bopper {
  position: absolute;
  height: 137px;
  top: 187px;
  left: 413px;
}